
<!DOCTYPE html>
<html lang="en">
<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us - Boat Headset</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="contact.component.css">
</head>
<body>

  <div class="container">
    <h1>CONTACT</h1>
  </div>
  
      <div class="col">
        
        <p>Boat Headset is dedicated to providing top-quality headsets designed specifically for boating enthusiasts. Our mission is to enhance your boating experience by offering comfortable and durable headsets that deliver exceptional sound quality even in challenging marine environments.</p>
        <p>If you'd like to learn more about our products or have any inquiries, please don't hesitate to contact us using the form on the left or the contact information provided below.</p><br>
        
        <a href="mailto:voviyat.22it@kongu.edu">Click Here To Mail!</a><br>
        Further Communication Contact : 
        <a href="tele:+919843898829">9843898829</a>
        </div>
  


  
</body>
</html>
